*{
  margin:0;
  padding: 0;
}

h2{
  font-size: 26px;
}

ol{
  list-style: inside;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7f8185; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(25, 33, 44); 
  border-radius: 5px;
}

.fa{
  font-size: 20px;

}

.editor-container-display a{
  text-decoration: underline;
  color: blue;
}


/* custom CSS for About Page */
.border {
  height: 85%;
  width: 85%;
  object-fit: cover;
}

.main{
  position: relative;
}

.rotate {
  rotate: 180deg;
}

.content{
  width: 700px;
}

.image{
  width: 500px!important;
}



/* adding Notes - Buton */
.add-note-btn{
  position: fixed;
  bottom: 50px;
  right: 60px;
  z-index: 9;
}

.add-note-btn img{
  width:80px
}

@media (max-width:750px) {
  .add-note-btn img{
    width:12vw
  }
}

/* action buttons  */
.action-buttons{
  position: absolute;
  bottom: 4px;
}

.action-buttons i{
  border-radius: 50%;
  padding: 8px;
  background-color: rgba(245, 215, 179, 0.774);
}


.editorContainer .ql-editor {
  min-height: 300px;
  height: auto; /* or set a specific height value here */
}


/* Single Note */
.single-note{
  padding-top: 50px;
  position: relative;
  text-align: justify;
  width: 95%;
  
  padding: 20px 50px;
  min-height: 87vh;
}

.single-note .heading{
  margin-top: 20px;
  margin-bottom: 25px;
}

.single-note .seprator{
  margin: 10px 0 30px 0;
  content: "";
  display: block;
  height: 2px;
  width: 85%;
  background-color: rgba(69, 79, 100, 0.884);
}


.notes_innercontainer{
  margin: 20px auto;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  max-width: 1212px;
}

.note-item{
    padding: 10px;
    width: 396px;
    margin: 2px 0;
    border: 2px solid rgb(156 163 175);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}

@media (max-width:1200px) {
  .note-item{
    width: 32.8%;  
    padding: 0px;  
}
}


@media (max-width:800px) {

  .notes_innercontainer{
    width: 100%;
  }
  
  .note-item{
       width: 48%;   
       margin: 8px auto; 
  }

}

@media (max-width:596px) {
  
  .note-item{
       margin: 6px auto ;
       width: 96%;    
  }

}

@media (max-width:360px) {
  
  .note-item{
    padding: 5px;
  }

}

@media (min-width:800px) {
  .single-note{
    width: 700px;
  }
}

@media (min-width:1400px) {
  .single-note{
    width: 1300px;
  }
}



@media (max-width:1460px) {
  /* notes style */
  .notes-container{
    grid-template-columns: auto auto auto;
  }
}

@media (max-width:1200px){

  .banner{
      padding-top: 80px !important;
  }

}

@media (max-width:1125px){
  .banner{
      padding-left:  80px!important;
      padding-right:  80px!important;
  }
}

@media (max-width:900px){
  .banner{
      padding-left:  80px!important;
      padding-right:  80px!important;
  }

  .h1{
      font-size: 2rem!important;
  }

  .para{
      font-size: 1rem;
  }
}

/* media query for responsive note items */
@media (max-width:879px){
  
}


@media (max-width:820px){

   .banner{
      text-align: center;
      flex-direction: column!important;
      /* padding-left:  20px!important;
      padding-right:  20px!important; */
  }

  .button{
      display: flex;
      justify-content: center;
  }

  .hr{
      margin-left: auto!important;
      margin-right: auto!important;
  }


  /*

  .h1{
      font-size: 2rem!important;
  }

  .para{
      font-size: 1rem;
  } */
}


.fadeup{
  transition: 0.6s;
}

.fadeup:hover{
  transform: translateY(-5px);
  transform: scale(1.015);
}